<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
  	<!-- data base configuration in context param -->
  	<context-param>
  	 	<param-name>environment</param-name>
  	 	<param-value>prod</param-value>
  	 	<description>environment name</description>
   </context-param>
   <context-param>
  	 	<param-name>dbURL</param-name>
   		<param-value>mongodb://treepet:treepet@ds131151.mlab.com:31151/dgree-treepet</param-value>
   		<description>environment url</description>
   </context-param>
    <context-param>
  	 	<param-name>dbName</param-name>
   		<param-value>dgree-treepet</param-value>
   		<description>environment dbname</description>
   </context-param>
   
    
   
  <listener>
  	<listener-class>com.dgree.listener.DateBaseContextListener</listener-class>
  </listener> 
   <servlet>
  	<servlet-name>Home</servlet-name>
  	<jsp-file>/pages/home.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>about</servlet-name>
  	<jsp-file>/pages/about.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>contact</servlet-name>
  	<jsp-file>/pages/contact.jsp</jsp-file>
  </servlet>
   <servlet>
  	<servlet-name>index</servlet-name>
  	<jsp-file>/pages/index.jsp</jsp-file>
  </servlet>
    <servlet>
  	<servlet-name>help</servlet-name>
  	<jsp-file>/pages/help.jsp</jsp-file>
  </servlet>
   <servlet>
  	<servlet-name>imageUpdate</servlet-name>
  	<jsp-file>/pages/imageUpdate.jsp</jsp-file>
  </servlet>

  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpServlet</servlet-name>
  	<display-name>SignUpServlet</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailVerification</servlet-name>
  	<display-name>EmailVerification</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.EmailVerification</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOutServlet</servlet-name>
  	<display-name>LogOutServlet</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDetails</servlet-name>
  	<display-name>UpdateDetails</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.UpdateDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePetDetails</servlet-name>
  	<display-name>UpdatePetDetails</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.UpdatePetDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UplodePetDetails</servlet-name>
  	<display-name>UplodePetDetails</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.UplodePetDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Image</servlet-name>
  	<display-name>Image</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.Image</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IndexServlet</servlet-name>
  	<display-name>IndexServlet</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.IndexServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadAjaxImage</servlet-name>
  	<display-name>LoadAjaxImage</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.LoadAjaxImage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadMultipleImages</servlet-name>
  	<display-name>LoadMultipleImages</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.LoadMultipleImages</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImageUpdateServlet</servlet-name>
  	<display-name>ImageUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.ImageUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadMultipleImages</servlet-name>
  	<display-name>UploadMultipleImages</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.UploadMultipleImages</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Images</servlet-name>
  	<display-name>Images</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.Images</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AboutServlet</servlet-name>
  	<display-name>AboutServlet</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.AboutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Contact</servlet-name>
  	<display-name>Contact</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.Contact</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LikeControler</servlet-name>
  	<display-name>LikeControler</display-name>
  	<description></description>
  	<servlet-class>com.dgree.actions.LikeControler</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
<servlet-mapping>
  	<servlet-name>contact</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>about</servlet-name>
  	<url-pattern>/about</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>help</servlet-name>
  	<url-pattern>/help</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpServlet</servlet-name>
  	<url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailVerification</servlet-name>
  	<url-pattern>/EmailVerification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOutServlet</servlet-name>
  	<url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDetails</servlet-name>
  	<url-pattern>/UpdateDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePetDetails</servlet-name>
  	<url-pattern>/UpdatePetDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UplodePetDetails</servlet-name>
  	<url-pattern>/UplodePetDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Image</servlet-name>
  	<url-pattern>/Image/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadAjaxImage</servlet-name>
  	<url-pattern>/LoadAjaxImage/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadMultipleImages</servlet-name>
  	<url-pattern>/LoadMultipleImages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>imageUpdate</servlet-name>
  	<url-pattern>/imageUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageUpdateServlet</servlet-name>
  	<url-pattern>/ImageUpdateServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadMultipleImages</servlet-name>
  	<url-pattern>/UploadMultipleImages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Images</servlet-name>
  	<url-pattern>/Images/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutServlet</servlet-name>
  	<url-pattern>/AboutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Contact</servlet-name>
  	<url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LikeControler</servlet-name>
  	<url-pattern>/LikeControler</url-pattern>
  </servlet-mapping>
  
   <welcome-file-list>  
   <welcome-file>IndexServlet</welcome-file>  
  </welcome-file-list>  
</web-app>
